@use "./variables" as v;
@use "./media" as media;

.pokedex {
    display: grid;
    grid-template-areas:
        "header header sidebar"
        "grid grid sidebar"
        "pagination pagination sidebar";
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-block: 20px;

    @include media.laptop {
        gap: 20px;
    }

    @include media.tablet {
        grid-template-areas:
            "header"
            "grid"
            "pagination";
        grid-template-columns: 1fr;
    }

    // Заголовок верхняя часть
    &-header {
        grid-area: header;

        display: flex;
        flex-direction: column;
        position: sticky;
        z-index: 2;
        top: 0;

        &__search {
            font-size: 20px;
            padding: 20px 30px;
            border-radius: 10px;
            box-shadow: v.$shadow;

            @include media.mobile {
                padding-inline: 15px;
            }
        }
    }

    // Боковая панель -информация об покемоне
    &-sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 25px;
        background-color: v.$color-light;
        grid-area: sidebar;
        border-radius: 20px;
        box-shadow: v.$shadow;
        position: sticky;
        top: 0;
        z-index: 2;
        max-height: 1000px;
        padding: 10px 15px;

        @include media.mobileL {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100vh;
            z-index: 999;
            background-color: v.$color-light;
            transition: left 0.3s ease;
            overflow-y: auto;
        }

        &.active {
            @include media.mobileL {
                left: 0;
            }
        }

        &__close {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 30px;
            aspect-ratio: 1/1;
            background-color: transparent;
            margin-left: auto;
            visibility: hidden;

            @include media.mobileL {
                visibility: visible;
            }

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 2px;
                background-color: v.$color-text-dark;
                border-radius: 4px;

                &:nth-of-type(1) {
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &:nth-of-type(2) {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }

        &__header {
            display: flex;
            flex-direction: column;
            row-gap: 25px;
            align-items: center;

            @include media.tablet {
                flex-direction: row;
                column-gap: 15px;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            row-gap: 25px;
            align-items: center;
        }

        &__image {
            width: 50%;
            min-width: 128px;
        }

        &__id {
            font-size: 18px;
            font-weight: 500;
        }

        &__name {
            font-size: 22px;
            font-weight: 500;
        }

        &__types {
            display: flex;
            align-items: center;
            column-gap: 10px;
        }

        &__description {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            text-align: center;

            h3 {
                text-transform: uppercase;
                font-weight: 700;
            }

            p {
                letter-spacing: 1px;
            }
        }

        &__abilities {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            width: 100%;

            h3 {
                grid-column: span 2;
                text-align: center;
                font-size: 18px;
                color: v.$color-text-light;
                font-weight: 600;
            }
        }

        &__ability {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-block: 10px;
            column-gap: 10px;
            border-radius: 20px;
            border: 1px solid v.$color-accent-blue;
            background-color: v.$color-background;
            color: v.$color-text-light;
            font-weight: 700;

            &.hidden {
                border: 1px solid v.$color-accent-red;
            }
        }

        &__information {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            gap: 20px;
        }

        &__stat {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 20px;

            h3 {
                text-align: center;
                font-size: 18px;
                color: v.$color-text-light;
                font-weight: 600;
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                padding-block: 15px;
                column-gap: 5px;
                border-radius: 20px;
                width: 100%;
                background-color: v.$color-background;
                color: v.$color-text-light;
                font-weight: 700;
            }

            img {
                width: 16px;
                object-fit: cover;
            }
        }
    }

    // Сетке для показа покемонов
    &-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        grid-area: grid;

        @include media.laptop {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media.custom-responsive(600px) {
            column-gap: 15px;
        }

        @include media.mobile {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    // Карточка покемона
    &-card {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        align-items: center;
        background-color: v.$color-light;
        border-radius: 15px;
        padding: 20px 10px;
        box-shadow: v.$shadow;
        position: relative;
        transition: all 0.4s ease;
        cursor: pointer;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        }

        &.active {
            border: 2px solid v.$color-accent-blue;
            box-shadow: 0 0 10px rgba(78, 145, 249, 0.5);
            transform: scale(1.02);
        }

        &.active .pokedex-sidebar {
            display: block;
            left: 0;
        }

        &__image {
            width: 100%;
            object-fit: cover;
        }

        &__id {
            margin-top: auto;
        }

        &__name {
            font-size: 22px;
            font-weight: 500;
        }

        &__types {
            display: flex;
            align-items: center;
            column-gap: 10px;
        }

        &__type {
            padding: 4px 8px;
            border-radius: 2px;
            font-weight: 600;
            font-size: 12px;
        }
    }

    // Пагинация для ленивой загрузки
    &-pagination {
        grid-area: pagination;

        display: flex;
        width: 100%;
        align-items: center;
        column-gap: 10px;
        justify-content: center;

        &__button {
            cursor: pointer;
            font-size: 18px;
            padding: 10px 30px;
            background-color: v.$color-light;
            color: v.$color-text-light;
        }
    }
}