// Цвета
$color-light: #ffffff;
$color-background: #F0F3F9;
$color-accent-blue: #4C68C3;
$color-accent-red: #D1452C;
$color-accent-green: #97AF73;
$color-text-dark: #14181E;
$color-text-light: #474C4D;


// Цвета по типам покемонов
$color-normal: #A8A77A;
$color-fire: #EE8130;
$color-water: #6390F0;
$color-electric: #F7D02C;
$color-grass: #7AC74C;
$color-ice: #96D9D6;
$color-fighting: #C22E28;
$color-poison: #A33EA1;
$color-ground: #E2BF65;
$color-flying: #A98FF3;
$color-psychic: #F95587;
$color-bug: #A6B91A;
$color-rock: #B6A136;
$color-ghost: #735797;
$color-dragon: #6F35FC;
$color-dark: #705746;
$color-steel: #B7B7CE;
$color-fairy: #D685AD;

// Размеры
$container-width: 1200px;
$container-padding-x: 15px;

// Типографика
$font-base: "Poppins", sans-serif;

// Тень
$shadow: 20px 20px 60px rgba(190, 190, 190, 0.2),
    -20px -20px 60px rgba(255, 255, 255, 0.2);
$shadow-dark: 10px 10px 30px rgba(0, 0, 0, 0.25),
    -10px -10px 30px rgba(0, 0, 0, 0.1);